#container{
    display: flex;
    justify-content:center;
}

#preview,
#get_permission,
#get_back_permission{
    margin: auto
}

table,
td {
    border: 1px solid #333;
}

thead,
tfoot {
    background-color: #333;
    color: #fff;
}
